.Rhistory
.RData
.Rproj.user
inst/doc
/.docker
/dev
# any outputs in package directory that may have been created during testing
/Meta/
# Exclude some vignette outputs
/doc/*.R
/doc/*.Rmd
/doc/*.html
*.html